body {
    color: gray;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header_x{
    background: #efdfdf; 
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5)
    color: rgb(128, 128, 128);
    font-weight: bold;
    margin: 0;
    padding: 0.8cm;

}

#header_x #tagline{
    padding: lem 0 0 0;
    font-weight: normal;
    font-size: 0.5cm;
}

#container{
    width: 80%;
    padding: lem;
    text-align: center;
    border: 10px solid #808080;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;

}

#post p{
    text-align: center;
}
